@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-hanken-grotesk);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-purple-background: var(--purple-background);
  --color-purple-foreground: var(--purple-foreground);
  --color-yellow-background: var(--yellow-background);
  --color-yellow-foreground: var(--yellow-foreground);
  --color-blue-background: var(--blue-background);
  --color-blue-foreground: var(--blue-foreground);
  --color-lime-background: var(--lime-background);
  --color-lime-foreground: var(--lime-foreground);
  --color-red-background: var(--red-background);
  --color-red-foreground: var(--red-foreground);
  --color-green-background: var(--green-background);
  --color-green-foreground: var(--green-foreground);
  --color-grey-background: var(--grey-background);
  --color-grey-foreground: var(--grey-foreground);
  --color-rose-background: var(--rose-background);
  --color-rose-foreground: var(--rose-foreground);
  --color-emerald-background: var(--emerald-background);
  --color-emerald-foreground: var(--emerald-foreground);

  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 12px;
}

@keyframes caret-blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animate-caret-blink {
  animation: caret-blink 1s infinite;
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

.animate-accordion-down {
  animation: accordion-down 0.2s ease-out;
}

.animate-accordion-up {
  animation: accordion-up 0.2s ease-out;
}

@keyframes collapsible-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes collapsible-up {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}

.animate-collapsible-down {
  animation: collapsible-down 0.2s ease-out;
}

.animate-collapsible-up {
  animation: collapsible-up 0.2s ease-out;
}

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #000000;
  --card: #ffffff;
  --card-foreground: #000000;
  --popover: #ffffff;
  --popover-foreground: #000000;
  --primary: #171717;
  --primary-foreground: #fafafa;
  --secondary: #f5f5f5;
  --secondary-foreground: #171717;
  --muted: #f5f5f5;
  --muted-foreground: #737373;
  --accent: #f5f5f5;
  --accent-foreground: #171717;
  --destructive: #e7000b;
  --border: #e5e5e5;
  --input: #e5e5e5;
  --ring: #171717;
  --chart-1: #f54900;
  --chart-2: #009689;
  --chart-3: #104e64;
  --chart-4: #ffb900;
  --chart-5: #fe9a00;
  --sidebar: #fafafa;
  --sidebar-foreground: #000000;
  --sidebar-primary: #171717;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #f5f5f5;
  --sidebar-accent-foreground: #171717;
  --sidebar-border: #e5e5e5;
  --sidebar-ring: #a1a1a1;
  --purple-background: #ede9fe;
  --purple-foreground: #5b21b6;
  --yellow-background: #fef3c7;
  --yellow-foreground: #92400e;
  --blue-background: #dbeafe;
  --blue-foreground: #1e40af;
  --lime-background: #ecfccb;
  --lime-foreground: #3f6212;
  --red-background: #fee2e2;
  --red-foreground: #991b1b;
  --green-background: #dcfce7;
  --green-foreground: #166534;
  --grey-background: #f3f4f6;
  --grey-foreground: #374151;
  --rose-background: #ffe4e6;
  --rose-foreground: #9f1239;
  --emerald-background: #d1fae5;
  --emerald-foreground: #065f46;
}

.dark {
  --background: #000000;
  --foreground: #fafafa;
  --card: #171717;
  --card-foreground: #fafafa;
  --popover: #171717;
  --popover-foreground: #fafafa;
  --primary: #e5e5e5;
  --primary-foreground: #171717;
  --secondary: #262626;
  --secondary-foreground: #fafafa;
  --muted: #262626;
  --muted-foreground: #a1a1a1;
  --accent: #262626;
  --accent-foreground: #fafafa;
  --destructive: #ff6467;
  --border: #ffffff1a;
  --input: #ffffff26;
  --ring: #e5e5e5;
  --chart-1: #1447e6;
  --chart-2: #00bc7d;
  --chart-3: #fe9a00;
  --chart-4: #ad46ff;
  --chart-5: #ff2056;
  --sidebar: #171717;
  --sidebar-foreground: #fafafa;
  --sidebar-primary: #1447e6;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #262626;
  --sidebar-accent-foreground: #fafafa;
  --sidebar-border: #ffffff1a;
  --sidebar-ring: #737373;
  --purple-background: #1b0a33;
  --purple-foreground: #a78bfa;
  --yellow-background: #331803;
  --yellow-foreground: #fbbf24;
  --blue-background: #091333;
  --blue-foreground: #60a5fa;
  --lime-background: #213309;
  --lime-foreground: #a3e635;
  --red-background: #330b0b;
  --red-foreground: #fca5a5;
  --green-background: #0a2916;
  --green-foreground: #86efac;
  --grey-background: #292929;
  --grey-foreground: #d4d4d4;
  --rose-background: #470a1d;
  --rose-foreground: #fda4af;
  --emerald-background: #05291e;
  --emerald-foreground: #34d399;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground text-sm;
  }
}
